
body {
  background-color: #FCEFFF;
  font-family: 'Poppins';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: normal;
}


.container-fluid {
  padding: 0 15%;
}

.hero {
  text-align: left;
  padding: 0 15% 5%;
}


/* Navbar */

.navbar {
  padding-top: 25px;
  padding-bottom: 10px;
}

.navbar-brand {
  color: #3A3A3A;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 15px;
}

.nav-item {
  padding: 0 15px;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  padding: 6px 6px;
}

.dropdown-item {
  line-height: 2.5;
  color: #3A3A3A;
  font-weight: bold;
}

.dropdown-item:hover {
  background-color: #F3C7FF;
  color: blue;
  border-radius: 10px;
}



/* Hero Section */

.tagline {
  text-align: left;
  color: #3A3A3A;
  font-size: 3.3rem;
  font-weight: 900;
  line-height: 1.2;
  width: 102%;
  margin: 100px 0 0 0;
}

.semi-tagline {
  color: #D437FD;
}

.introtext {
  width: 95%;
  margin: 30px 0 50px 0;
  text-align: left;
}

.illustration {
  width: 550px;
  height: 550px;
  margin: 30px 0 0 50px;
}

.layer1 {
  margin-top: 100px;
  height: 20px;

}

.layer2 {
  margin-top: 15px;
  height: 20px;
}


/* Partners */

.container-fluid2 {
  padding: 2% 15% 7% 15%;
}

.text-center1 {
  border-radius: 10px;
  margin-left: 22%;
  border-width: 0 5px 5px 0;
  border-color: #8D8D8D;
  width: 55%;
  height: 5.5rem;
}

.ptn {
  width: 50px;
  height: 50px;
  margin-left: 10%;
}

.ptn2 {
  width: 50px;
  height: 50px;
}

/* Features */


.features {
  padding: 0 15% 7%;
}

.features-col {
  padding: 5% 5% 5%;
}

.feature-cards {
  border-width: 5px 5px;
  border-color: #5C60FF;
  border-style: solid;
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

.goal {
  width: 300px;
  height: 325px;
}

.target {
  width: 300px;
  height: 325px;
}

.strategy {
  width: 300px;
  height: 325px;
}



/* Testimonials */

.testimonials {
  padding: 0 15%;
  background-color: #A228C1;
}

.carousel-item {
  padding: 10% 15% 10%;
}

.text-1 {
  padding: 1rem 2rem 4% 2rem;
}

.testimonial-card {
  height: 20rem
}


/* Recent Articles */

.articles {
  padding: 5% 22%;
}

.h-100 {
  background-color: #FCEFFF;
  border: none;
  padding: 15% 0 7% 0;
}

.card-text {
  font-size: 1rem;
  text-align: left;
}

.h5-articles {
  text-align: left;
  padding-top: 2.5%;
  padding-bottom: 5%;
}

.scam {
  height: 192px;
}

.project {
  height: 192px;
}

.nft {
  height: 192px;
}

.btn-articles {
  padding-top: 5%;
}


/* Book a Meeting */

.meeting {
  padding: 6% 15%;
  background-color: #D437FD;
}

.book-style {
  color: #fff;
}



/* Why Quaperal */
.why-quaperal {
  padding: 3% 15% 5%;
}

.why {
  width: 503px;
  height: 446px;
  float: right;
  margin-left: 10%;
}

.why-quaperal-heading {
  padding-top: 40px;
  padding-bottom: 30px;
}

.why-quaperal-text {
  padding-bottom: 50px;
}


/* Footer Section */

.footer {
  background-color: #3C3F9A;
  padding: 4% 15%;
  color: #fff;
  text-align: left;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* Brand Details */

.email {
  padding-bottom: 5%;
}

.quaperal {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 8%;
}

.quaperal-name {
  padding-bottom: 50px;
}

.logo-text {
  padding-top: 12%;
}

.footer-logo {
  padding-bottom: 25%;
}

.twitter {
  width: 35px;
  height: 35px;
  margin-right: 5%;
}

.linkedin {
  width: 35px;
  height: 35px;
  margin-right: 5%;
}

.medium {
  width: 35px;
  height: 35px;
  margin-right: 5%;
}

.instagram {
  width: 35px;
  height: 35px;
}

/* Company */

.footer-2nd {
  padding-left: 20%;
  padding-top: 14%;
}

.footer-second {
  padding-left: 0;
}

.list-footer {
  line-height: 30px;
  font-size: 0.9rem;
  font-weight: lighter;
}

.sub-footer-heading {
  font-weight: normal;
}

/* Services */

.footer-3rd {
  padding-right: 20%;
  padding-top: 14%;
}

/* Newsletter */

.footer-4th {
  padding-top: 12%;
}

.join-text {
  padding-top: 5%;
  padding-bottom: 5%
}

.form-control {
  background-color: inherit;
  border-width: 3px;
  border-color: #fff;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  p {
    font-size: 1.12rem;
  }

/* Nav Bar */

  .container-fluid {
    padding: 5px 30px
  }

/* Hero Section */

  .hero {
    padding: 50px 30px;
  }

  .tagline {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  }

  .introtext {
  width: 95%;
  margin: 30px 0 50px 0;
  text-align: center;
  }

  .illustration {
  width: 300px;
  height: 300px;
  text-align: center;
  }

  .hero-btn {
    text-align: center;
  }

  .layer1 {
    margin-top: 50px;
  }


/* Partner Section */

  .container-fluid2 {
    padding: 30px;
}

  .text-center1 {
    width: 75%;
    margin-left: 10.5%;
    text-align: center;
}

/* Features */

.features {
  padding: 30px;
}

.feature-cards {
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

  .goal {
  width: 200px;
  height: 225px;
}

  .target {
  width: 200px;
  height: 225px;
}

  .strategy {
  width: 200px;
  height: 225px;
}

/* Testimonials */

.testimonials {
  padding: 30px;
}

.carousel-item {
  padding: 0 15%;
}

.text-1 {
  padding: 0;
}

.testimonial-card {
  height: 20rem
}

}
